@model Stromatolite.ViewModels.OfferViewModel
@{
//ViewBag.Title = "Home Page";
}
<!-- ***** Project area start ***** -->
<section class="gallery_area section_padding_100_0 clearfix" id="work">

    <!-- Section Heading Start -->
    <div class="section_heading">
        <p>Наша продукция</p>
        <h3>Каталог</h3>
    </div>

    <div class="gallery_menu">
        <div class="text-center portfolio-menu">
            <button class="active btn" type="button" data-filter="*">Все</button>
            @foreach (var group in Model.Groups)
            {
                <button class="btn_" type="button" data-filter=".@group.GroupID">@group.Title</button>
            }


        </div>
    </div>

    <div class="gallery_full_width_images_area clearfix">
        
        @foreach (var offer in Model.Offers)
        {
            <!-- Single gallery Item Start -->
            <div class="single_gallery_item @offer.Product.GroupID">
                @if (offer.Product.Gallery.Pictures.Any())
                {
                    <img src="@Url.Content(offer.Product.Gallery.Pictures.OrderBy(d => d.Ord).FirstOrDefault().PicUrl)" alt="@offer.Product.TitleFull">
                }
                @*<img src="~img/gallery/1.jpg" alt="">*@
                <!-- Single gallery Item hover caption -->

                        <div class="hover_overlay">
                            <div class="classy-table">
                                <div class="classy-table-cell">
                                    <div class="gallery_info">
                                        <h6>@offer.Product.Group.Title</h6>
                                        <h5>@offer.Product.Title</h5>
                                        <p>@offer.Price @offer.Currency.Abbr за @offer.Quantity @offer.Unit.Title</p>

                                        <div class="btns">
                                            <a class="popup-ajax" href="~/product/@offer.Product.SEOurl/details"><i class="pe-7s-search"></i></a>
                                            <a href="portfolio-single-v1.html"><i class="pe-7s-cart"></i></a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

               
            </div>

        }
        
       

       
    </div>
</section>
<!-- ***** Project area end ***** -->




