@model Stromatolite.ViewModels.OfferViewModel
@{
//ViewBag.Title = "Home Page";
}
<!-- ***** Project area start ***** -->
<section class="gallery_area section_padding_100_0 clearfix" id="work">

    <div class="block-title on-light text-center">
        <h1 style="font-size:36px;">Каталог</h1>
    </div>

    <div class="gallery_menu">
        <div class="text-center portfolio-menu">
            <button class="active btn" type="button" data-filter="*">Все</button>
            @foreach (var group in Model.Groups)
            {
                <button class="btn_" type="button" data-filter=".@group.GroupID">@group.Title</button>
            }
        </div>
    </div>

    <div class="gallery_full_width_images_area clearfix">

        @foreach (var offer in Model.Offers)
        {
            <div class="tile single_gallery_item @offer.Product.GroupID">
                <div class="tile-thumb">
                  @*  <span class="badge badge-circle badge-danger">Распродажа</span>*@

                    <a class="popup-ajax overlay" href="~/product/@offer.Product.SEOurl"></a>
                    <div class="img-cont">
                        @if (offer.Product.Gallery.Pictures.Any())
                        {
                            <img src="@Url.Content(offer.Product.Gallery.Pictures.OrderBy(d => d.Ord).FirstOrDefault().PicUrl)" alt="@offer.Product.TitleFull">
                        }
                    </div>
                </div>
                <div class="tile-body">
                    <h6 class="text-center">@offer.Product.Group.Title</h6>
                    <div class="tile-h">
                        <a class="popup-ajax tile-title" href="~/product/@offer.Product.SEOurl"><h2 style="font-size:24px;">@offer.Product.Title</h2></a>
                    </div>
                    @*<span class="shop-old-price">$178</span>*@
                    <span class="shop-price">@offer.Price.ToString("C0") <span style="color:#c7c7c7">за</span> @offer.Quantity 
                    @if(offer.Unit.Title == "м2")
                    { 
                        @: м<sup>2</sup> 
                    }
                    else
                    {
                        @: @offer.Unit.Title;
                    }</span><br>
                    <a href="/Orders/_Create?offerID=@offer.OfferID" class="order-ajax btn btn-primary btn-ghost btn-sm icon-left waves-effect waves-light"><i class="pe-7s-cart"></i>Заказать</a>

                </div>
                <footer class="tile-footer text-left">
                    <div class="post-meta">
                        <div class="taxonomy">
                            @*<span>В </span>*@
                            @if (!string.IsNullOrEmpty(offer.Product.Description))
                            {
                                string substr = "";
                                if (offer.Product.Description.Length > 90)
                                {
                                    var len = offer.Product.Description.LastIndexOf("</", 90);
                                    if (len == -1)
                                    {
                                        len = offer.Product.Description.LastIndexOf(" ", 90);
                                    }
                                    if (len != -1)
                                    {
                                        substr = offer.Product.Description.Substring(0, len) + "...";
                                    }
                                }
                                else
                                {
                                    substr = offer.Product.Description;
                                }
                                @Html.Raw(substr)
                            }
                        </div>
                    </div>
                </footer>
            </div>
        }
    </div>
</section>

@section scripts{
    <script>
    </script>
    }


