@model IEnumerable<Stromatolite.Models.Unit>

<table class="table table-bordered table-hover table-responsive table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.Abbr)
            </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        string trid = "u" + item.UnitID.ToString();
        <tr id="@trid">
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.Abbr)
                </td>*@
            <td>
                @Ajax.ActionLink("Редактировать", "Edit", "Units", new { area = "Admin", id = item.UnitID }, new AjaxOptions { HttpMethod = "Get", InsertionMode = InsertionMode.ReplaceWith, UpdateTargetId = trid }, new { @class = "btn btn-sm btn-primary" })
                @Ajax.ActionLink("Удалить", "Delete", "Units", new { area = "Admin", id = item.UnitID }, new AjaxOptions { HttpMethod = "Get", InsertionMode = InsertionMode.Replace, UpdateTargetId = "mod-unit-delete", OnSuccess = "$('#unitModalDelete').modal('show')", OnFailure = "$('#unitModalDelete').modal('show')" }, new { @class = "btn btn-sm btn-primary" })
            </td>
        </tr>
    }

</table>
