<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125827870-1"></script>
    <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-125827870-1');
    </script>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    @{if (ViewBag.MetaDescription == null)
        {
            ViewBag.MetaDescription = "плитняк-лемезит.рф Облицовочный камень лемезит с доставкой от производителя";
        }
        if (ViewBag.MetaKeywords == null)
        {
            ViewBag.MetaKeywords = "купить лемезит, плитняк лемезит, натуральный камень, облицовочный камень";
        }
        if (ViewBag.Title == null)
        {
            ViewBag.Title = "ЛЕМЕЗИТ";
        }}
    <meta name="description" content="@ViewBag.MetaDescription" />
    <meta name="keywords" content="@ViewBag.MetaKeywords" />
    <meta name="author" content="AlexandrNe" />

    @*<meta name="yandex-verification" content="4bc3e581eabd899c" />*@
    <meta name="yandex-verification" content="9c640d876748bd99" />

    <title>@ViewBag.Title</title>

    <!--Favicon-->
    <link rel="shortcut icon" href="~/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/img/favicon.ico" type="image/x-icon">

    <!-- Vendor Styles -->
    @Styles.Render("~/Content/revolution")
   

    <!--Modernizr / Detectizr-->
    @Styles.Render("~/Content/masterslider/css")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/fancybox/css")
    @Styles.Render("~/Content/ArtStyle")
    @Scripts.Render("~/bundles/modernizr")

    @RenderSection("css", required: false)

    @*<!-- Yandex.Metrika counter -->
    <script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter50066596 = new Ya.Metrika2({
                    id:50066596,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/tag.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks2");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/50066596" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->*@
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter50334613 = new Ya.Metrika2({
                    id:50334613,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/tag.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks2");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/50334613" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
</head>
<body class="parallax">
    <!-- Preloader -->
    <div class="preloader">
        <div class="spinner">
            <div class="cube1"></div>
            <div class="cube2"></div>
        </div>
    </div>
    <div class="fake-scrollbar"></div>

    @*@Html.Partial("_Topbar")*@

    @Html.Partial("_Navbar")

 @*   @Html.Partial("_Slider")*@
    @**************************************************************************************************@
    <!-- Hero -->
    <section class="section-fw section-css-parallax text-light" style="background-image:url(img/homepage/corporate/fullwidth-slider/back02.jpg);">
        <div class="container text-light">
            <div class="row" style="margin-top:100px;margin-bottom:100px;">
                <div class="col-md-2"></div>
                <div class="col-md-9" style="background-color: rgba(51, 51, 51, 0.56);border-radius: 15px;">
                    <blockquote style="font-size:50px;" class="text-center">
                        Все виды лемезита от производителя – от 168 руб./м<sup>2</sup>
                    </blockquote>
                </div>

            </div>
        </div>

    </section><!-- Hero End -->
    @****************************************************************************************************************@

   @* <div class="body-content">*@
        @RenderBody()
    @{Html.RenderAction("_Index", "Articles"); }
    @Html.Partial("_About")

    @Html.Partial("_Bottombar")
    @****************************************************************************************************************@
   @* <section>
        <div id="map" style="width:100%;height:500px;position:relative" class="map" data-coordinates="54.75,58.19" data-title="г. Катав-Ивановск" data-title2="ул. Цементников, 7" data-img='@Url.Content("~/img")'></div>
        <!-- Collapsable version -->
        <div class="map-collapse">
            <div class="map-collapse-toggle" data-collapse-title="Свернуть карту" data-expand-title="Развернуть карту">
                <i class="pe-7s-map"></i>
                <span>Свернуть карту</span>
            </div>

            <div id="map" style="width:100%;height:500px;position:relative" class="map" data-coordinates="56.843255,60.660069" data-title="г. Катав-Ивановск" data-title2="ул. Цементников, 7" data-img='@Url.Content("~/img")'></div>

        </div>
    </section>*@
        <hr />
    <footer itemscope itemtype="http://schema.org/Organization">
        <p>
            &copy; @DateTime.Now.Year –
            <span itemprop="name">ООО ДК "СтройИнвест"</span> |
            <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                <span itemprop="postalCode">620049</span>,
                ул.
                <span itemprop="streetAddress">Лодыгина, 4</span>, г.
                <span itemprop="addressLocality">Екатеринбург</span>, тел.:
                <span itemprop="telephone">8(922)188-29-29</span>, электронная почта:
                <a href="mailto:sales@kamenmarket.com" itemprop="email">sales@kamenmarket.com</a>
            </span>
        </p>
    </footer>
   @* </div>*@

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryajax")

    @Scripts.Render("~/bundles/jqueryui")


    @Scripts.Render("~/bundles/revolution")

    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>

    @Scripts.Render("~/bundles/scripts")

    @Scripts.Render("~/bundles/wow")

    <script>
        $(document).ready(function () {
            var wow = new WOW(
                    {
                        boxClass: 'wow', // animated element css class (default is wow)
                        animateClass: 'animated', // animation css class (default is animated)
                        offset: 100, // distance to the element when triggering the animation (default is 0)
                        mobile: false        // trigger animations on mobile devices (true is default)
                    }
            );
            wow.init();
        });
    </script>

    @RenderSection("scripts", required: false)

    
</body>
</html>
