<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <meta name="description" content="плитняк-лемезит.рф Облицовочный камень лемезит с доставкой от производителя" />
    <meta name="keywords" content="купить лемезит, плитняк лемезит, натуральный камень, облицовочный камень" />
    <meta name="author" content="AlexandrNe" />

    <title>Облицовочный камень лемезит</title>

    <!--Favicon-->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <!-- Vendor Styles -->
    @Styles.Render("~/Content/revolution")
   

    <!--Modernizr / Detectizr-->
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body class="parallax">
    <!-- Preloader -->
    @*<div class="preloader">
        <div class="spinner">
            <div class="cube1"></div>
            <div class="cube2"></div>
        </div>
    </div>*@
    <div class="fake-scrollbar"></div>

    @Html.Partial("_Topbar")

    @Html.Partial("_Navbar")

    @Html.Partial("_Slider")
    @**************************************************************************************************@
    <!-- Hero -->
    <section class="section-fw section-css-parallax text-light space-bottom-3x" style="background-image:url(img/homepage/corporate/fullwidth-slider/window-3456392.jpg);">
        <div class="container text-light">
            <div class="row" style="margin-top:100px;margin-bottom:100px;">
                <div class="col-md-2"></div>
                <div class="col-md-9" style="background-color: rgba(51, 51, 51, 0.56);border-radius: 15px;">
                    <blockquote style="font-size:50px;">
                        Все виды лемезита со скидкой 30%
                    </blockquote>
                </div>

            </div>
        </div>

    </section><!-- Hero End -->
    @****************************************************************************************************************@
    @*<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Имя приложения", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Домашняя страница", "Index", "Home")</li>
                    <li>@Html.ActionLink("О программе", "About", "Home")</li>
                    <li>@Html.ActionLink("Контакт", "Contact", "Home")</li>
                </ul>
               
            </div>
        </div>
    </div>*@
    <div class="body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year – плитняк-лемезит.рф</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @Scripts.Render("~/bundles/revolution")

    @Scripts.Render("~/bundles/scripts")

    @RenderSection("scripts", required: false)
</body>
</html>
