@model Stromatolite.Models.Offer

@{
    Layout = null;
}

<section class="container space-bottom-2x space-top-2x" style="background-color:whitesmoke;">
    <!-- Row -->
    <div class="row">

        <!-- Product Showcase Slider -->
        <div class="col-lg-8 col-md-7 space-bottom" style="margin-top:20px;">
            <div class="product-showcase-slider">

                <!-- masterslider -->
                <div class="master-slider ms-skin-default" id="ms-product-showcase">
                    @foreach (var picture in Model.Product.Gallery.Pictures.OrderBy(d => d.Ord).Skip(1))
                    {
                        <div class="ms-slide">
                            <img src="~/Content/masterslider/style/blank.gif" data-src="@Url.Content(picture.PicUrl)" alt="@Model.Product.Title" />
                            <img class="ms-thumb" src="@Url.Content(picture.PicUrl)" alt="@Model.Product.Title" />
                        </div>
                    }


                </div>
                <!-- end of masterslider -->
            </div>
        </div>

        <!-- Product Details -->
        <div class="product-details col-lg-4 col-md-5" style="margin-top:20px;">
            <div class="text-right">
            <span onclick="$.magnificPopup.close();" class="waves-effect waves-light icon-left" style="position:absolute;top:-15px;right:5px;">
                
                <i class="pe-7s-close" style="font-size:25px;" ></i>
                </span></div>
            <div class="space-top-2x visible-sm visible-xs"></div>

            <h3>@Model.Product.TitleFull</h3>
            @Html.Raw(Model.Product.Description)

            <div>
                @if (Model.OldPrice > Model.Price)
                {
                    <span class="shop-old-price">@Model.OldPrice</span>
                }
                <span class="shop-price">@Model.Price.ToString("C0")</span>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="count-input">
                        <a class="incr-btn" data-action="decrease" href="#">&ndash;</a>
                        <input name="quantity" class="quantity" type="text" value="1">
                        <a class="incr-btn" data-action="increase" href="#">+</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <span style="font-size:25px;"> @Model.Unit.Title</span>
                </div>
            </div>


            <div class="row">
                <div class="col-md-5">
                    <a class="order-ajax btn btn-ghost btn-primary waves-effect waves-light icon-left" href="/Orders/_Create?offerID=@Model.OfferID">

                        <i class="pe-7s-cart"></i>
                        Заказать
                    </a>
                </div>
                <div class="col-md-7">
                    <a href="/Orders/_Callback" class="order-call btn btn-primary waves-effect waves-light icon-left">
                        <i class="pe-7s-call"></i>
                        Обратный звонок
                    </a>
                </div>
                
            </div>

        </div>
    </div>
</section>
