@model Stromatolite.Models.ErrorLog

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ErrorLog</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ErrDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ErrDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ErrDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ErrDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ErrorLogID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
