@model Stromatolite.Models.GeneralSetting
@{ Layout = null;}
@using (Ajax.BeginForm("Create", "GeneralSettings", new { Area = "Admin" }, new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "tab-general", InsertionMode = InsertionMode.Replace, OnSuccess = "$('#generalModal').modal('hide')" }, null))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Новая настройка</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.SettingName, "Наименование", htmlAttributes: new { @class = "control-label" })

            @Html.EditorFor(model => model.SettingName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SettingName, "", new { @class = "text-danger" })

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SettingValue, "Значение", htmlAttributes: new { @class = "control-label" })

            @Html.TextAreaFor(model => model.SettingValue, 3, 50, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.SettingValue, "", new { @class = "text-danger" })

        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Добавить" class="btn btn-default" />
            </div>
        </div>
    </div>
}

