@model IEnumerable<Stromatolite.Models.Product>

@{
    ViewBag.Title = "Продукция";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Новый", "Create", new { area = "Admin"}, new { @class = "btn btn-primary" })
</p>
<table class="table table-bordered table-hover table-responsive table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ord)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Article)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TitleFull)
        </th>
       
        @*<th>
            @Html.DisplayNameFor(model => model.Description)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.SEOurl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tags)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MetaDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KeyWords)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model.OrderBy(d => d.Ord).ThenBy(d => d.Title)) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Sort)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Article)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TitleFull)
        </td>

        @*<td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.SEOurl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tags)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MetaDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KeyWords)
        </td>
  
        <td>
            @Html.ActionLink("редактировать", "Edit", new { id=item.ProductID }) |
            @Html.ActionLink("Просмотр", "Details", new { id=item.ProductID }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.ProductID })
        </td>
    </tr>
}

</table>
